* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: Open Sans;
    font-size: 17px;
    color: #333;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    position: relative;
    margin: 0;
    padding-bottom: 0.7em;
}

h2::before {
    content: "";
    position: absolute;
    width: 100px;
    border-top: 4px solid #2B9AD6;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    margin: 0;
}

h3 {
    font-size: 28px;
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
    padding-bottom: 0.7em;
}

h3::before {
    content: "";
    position: absolute;
    width: 97px;
    border-top: 4px solid #FF5E00;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

img {
    pointer-events: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 17px;
    font-style: normal;
    line-height: 185%;
    margin: 0;
}

section {

    max-width: 1100px;
    margin: 60px auto;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-top-160 {
    margin-top: 160px;
}

.margin-bot-100 {
    margin-bottom: 100px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-bot-60 {
    margin-bottom: 60px;
}

.full-width {
    width: 100% !important;
}
.pointer{
    cursor: pointer;
}



.we-are-container {
    gap: 65px;
    margin-top: 40px;
    padding: 40px 0;
    margin-bottom: 60px;
}

.we-are-container>p {
    max-width: 32em;
}

.serve-glob__text {
    align-items: flex-start;
    gap: 50px;
    padding-top: 30px;
}

.serve-glob__text>h2::before {
    left: 1.25em;

}
.serve-glob__subtext{
    width: 62%;
}


.serve-glob__subtext>p:first-child {
    margin-bottom: 10px;
}

.serve-glob__partners {
    margin-top: 40px;
    padding-top: 25px;
    background-repeat: no-repeat;
    background-image: url(img/World_Map_2-blue_-1\ 1.png);
    display: grid;
    justify-content: end;
    grid-template-rows: 90px 90px 90px;
    grid-template-columns: 150px 150px 150px;
    gap: 20px;
}

.serve-glob__partners--img {
    background: #FFF;
    box-shadow: 2px 3px 30px 0px rgba(0, 0, 0, 0.05);
}

.customer p:nth-child(2) {
    width: 75%;
    margin: 0 auto;
}

.customer-blok {
    display: grid;
    grid-template-rows: 90px 90px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 40px;
}

.customer-blok__tabs {
    background-color: #F1F8FE;
    border-radius: 12px;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 30px;
}

.customer-blok__tabs:hover {
    filter: drop-shadow(11px 14px 32px rgba(4, 3, 44, 0.16));
    border-radius: 12px;
    color: #fff;
    background: var(--gradients-second-light, linear-gradient(84deg, #004CA6 0.99%, #0C95CF 100%));
}

.customer-blok__tabs:hover>.customer-blok__tabs--img>svg {
    stroke: #fff;
    stroke-width: 0.1px;
    stroke-opacity: 0.8;
}

.customer-blok__tabs:hover .customer-blok__tabs--img::before {
    content: "";
    position: absolute;
    width: 24px;
    text-align: center;
    height: 24px;
    border-radius: 50%;
    background-image: url(img/ph_arrow-up-thin.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #FF5E00;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    bottom: 15px;
    left: 18%;
}

.customer-blok__tabs--img>svg {
    stroke: #194F94;
    stroke-width: 2px;
    stroke-opacity: 0.8;

}

.lead {
    padding: 100px 0;
}

.lead-block {
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 106px;
}

.lead-block__card {
    padding: 10px 35px;
}

.lead-block__card:hover {
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(img/Rectangle\ 3815.png);
}

.lead-block .lead-block__card:hover p {
    color: #fff;
}

.lead-block__card img {
    border-radius: 200px;
    border: 1px solid #FFF;
    background: url(<path-to-image>), lightgray -61.381px 34.65px / 152.873% 135.198% no-repeat;
}

.lead-block__card:hover .sub {
    position: absolute;
    bottom: 17px;
    left: 37px;
}

.lead-block__card p:first-child {
    font-size: 24px;
    color: #194F94;
    font-weight: 700;

}

.lead-block__card p:last-child {
    font-size: 17px;
    font-weight: 400;
    color: #5F5F5F;
    max-width: 200px;
}

/* .lead-block__card img::after{
    content: "";
    position: absolute;
    width: 24px;
    text-align: center;
    height: 24px;
    border-radius: 50%;
    background-image: url(img/ph_arrow-up-thin.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #FF5E00;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    bottom: 15px;
    left: 18%;
} */


.tech .serve-glob__text h2 {
    text-align: start;
}

.tech-container {
    align-items: start;
    gap: 20px;
}

.tech-container__list {
    height: 1800px;
    overflow-y: auto;
    overflow-x: hidden;
}
.tech-container__list::-webkit-scrollbar{
    width: 0px; /* ширина для вертикального скролла */
   
}
.tech-container--item:not(:last-child){
    margin-bottom: 50px;
}

.tech-container--item {
    flex-direction: column;

}

.tech-container--sub {
    padding: 30px 40px;
    box-shadow: 2px 3px 30px 0px rgba(0, 0, 0, 0.05);
}
.tech-container--sub h4{
    font-size: 28px;
    font-weight: 700;
    color: #194F94;
    line-height: 140%;
}
.tech-container--sub a{
    color: #fff;
    padding: 12px 32px;
    background: var(--gp-com-secondary-bright-orange, #FF5E00);
}
.tech-container--sub p{
    margin-bottom: 45px;
}
.tech-container__product {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
    background: var(--gradients-second-light, linear-gradient(84deg, #004CA6 0.99%, #0C95CF 100%));
    padding: 15px 20px;
}

footer {
    padding: 80px 0;
    background-image: url('img/Frame 134570.png');
}